GROWW_API_KEY=
GROWW_API_SECRET=
UNDERLYING=NIFTY
EXCHANGE=NSE
SEGMENT_FNO=FNO
SEGMENT_CASH=CASH
CANDLE_INTERVAL=5minute
HISTORY_DAYS=30
HISTORY_CHUNK_DAYS=14
ITM_RANKS=2,3
OPTION_TYPES=CE,PE
EXPIRY_DATE=
LEVEL_SL_POINTS=4
LEVEL_ENTRY_START=09:15
LEVEL_ENTRY_END=11:00
EKALAYAVA_START=09:15
EKALAYAVA_END=15:15
EXECUTION_ALLOWED=false
PAPER_ONLY=true
KILL_SWITCH=false
MODEL_VERSION=v001
